h1 { color: red; }
th,td { border: ridge thick black; }

body {/* 画像の指定 */background-image: url('image/zz.jpg');
/* 画面全体を覆うようにサイズを調整 */background-size: cover;
/* 画像を中央に配置 */background-position: center;
/* 画像を繰り返さない */background-repeat: no-repeat;
/* スクロールしても背景を固定 */background-attachment: fixed;}


#slideshow { position: relative; width: 500px; height: 300px; }
#slideshow img { position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 1s; width: 100%;}
#slideshow img.active { opacity: 1; }
