body {/* 画像のパスを指定 */ background-image: url('zz.jpg'); 
/* 画像を画面いっぱいに広げる */ background-size: cover;
/* 画像を中央に配置 */ background-position: center;
/* スクロールしても背景を固定する */ background-attachment: fixed;
/* 画像が繰り返されないようにする */ background-repeat: no-repeat;
/* 背景が表示されるまでの予備色 */ background-color: #cccccc;
margin: 0; padding: 0; height: 100vh;}
