h1 { color: red; }
th,td { border: ridge thick black; }

body {/* 画像の指定 */background-image: url('image/zz.jpg');
/* 画面全体を覆うようにサイズを調整 */background-size: cover;
/* 画像を中央に配置 */background-position: center;
/* 画像を繰り返さない */background-repeat: no-repeat;
/* スクロールしても背景を固定 */background-attachment: fixed;}


#slideshow { position: relative; width: 100%; max-width: 1000px; height: 1200px; margin: 0 auto; overflow: hidden;}
#slideshow img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; opacity: 0; transition: opacity 1s ease-in-out; }
#slideshow img.active { opacity: 1;}
